/* Globals */

.ste-container * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: semi-bold;
    word-wrap: break-word;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #6C757D;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #6C757D;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #6C757D;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #6C757D;
}


/* header section */

.ste-header-section {
    margin-left: -21px;
}


/* tabset start */

.nav-tabs {
    border-color: #d4d8d8;
    text-align: center;
}

.toolbar .nav-tabs a.nav-link:nth-child(1) {
    border-left: none !important;
}

.toolbar .nav-tabs a.nav-link {
    padding: 0.9rem;
    border: none !important;
}

.nav-tabs a.nav-link.active {
    color: #3688e1 !important;
    border-bottom: 2px solid #3688e1 !important;
}


/* tabset end */


/* Flex Basis */


/* Grid Classes */

[class*="ste-col-"] {
    display: inline-block;
}

.ste-mb-1.form-group.form_builder_field_preview.col50p {
    width: 50%;
    float: left;
}

.ste-mb-1.form-group.form_builder_field_preview.col50p .ste-col-60 {
    width: 100%;
}

.ste-col-40 {
    width: 40%;
}

.ste-col-60 {
    width: 70%;
    /* margin-left: 10px; */
}

.ste-col-50 {
    width: 45% !important;
    /* margin-right: 40px; */
    margin-left: 20px;
    margin-bottom: 20px;
}

.stedb-li-row-flex {
    display: flex;
    min-height: 100px;
    padding: 0px 10px;
}

.stedb-col {
    width: 100%;
    /* display: inline-block; */
    flex-grow: 1;
    flex-basis: 0;
    -webkit-box-flex: 1;
    margin: 10px 10px 10px 10px;
}

.stedb-col-50 {
    max-width: 100%;
    /* display: inline-block; */
    flex-grow: 1;
    flex-basis: 0;
    -webkit-box-flex: 1;
}

.ste-col-social {
    width: 50% !important;
    margin-right: 40px;
    margin-left: 20px;
}

.ste-col-40 {
    width: 40%;
}


/* Display Classes */

.ste-block {
    display: block;
}

.ste-flex {
    display: flex;
    flex-wrap: wrap;
}

.ste-justify-center {
    justify-content: center;
}

.ste-justify-space {
    justify-content: space-between;
}


/* Background color classes */

.ste-clr-wh {
    background-color: white;
}

.ste-header-title {
    font-size: 20px;
    color: white;
}

a.ste-tab-item {
    font-size: 16px;
    color: #abafba;
    text-decoration: none !important;
    font-weight: 600;
    padding: 25px 70px;
    border-left: 1px solid #d4d8d8;
}

.ste-tab-item.active {
    background: #d7e7f9;
    border-bottom: 3px solid #3688e1;
    color: #3688e1;
}

.ste-form-label {
    font-weight: 600;
    cursor: all-scroll !important;
}

.ste-form-creator-container {
    min-height: 650px;
}


/* draggable css */

#ste-sortable .placeholder {
    width: 100% !important;
    background-color: #bfb !important;
    border: 1px dashed #666 !important;
    margin-bottom: 5px !important;
}

#ste-sortable {
    min-height: 47vh;
}

.ste-builder-field.ste-col-full {
    margin-right: 10px;
    padding: 10px;
    width: 50% !important;
    margin-bottom: 50px;
    cursor: all-scroll;
}

.ste-builder-field.ste-row-full {
    width: 100% !important;
    border: 1px solid #d4d8d8;
    height: 20% !important;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ste-builder-field.ste-row-full:hover {
    border: 1px dashed black;
    background: #F2F6FB;
}

.ste-builder-field label {
    font-weight: 600;
}

.ste-builder-field .ste-field {
    height: 2rem;
    width: 100%;
}

.ste-builder-field .ste-col {
    width: 50% !important;
}

.ste-icon-field {
    margin-bottom: 5px;
    font-size: 9px !important;
}

.ste-remove-field {
    color: #000;
}

.remove_social_bal_field,
.remove_bal_field,
.remove_linkedin_bal_field {
    background-color: #ffff;
    border: none;
}

.sign-up-button.yh,
.ste-sign-up-button.yh {
    background-color: #F8F2FA;
    border: 1px solid #6B3695;
    border-radius: 5px;
    width: 60%;
    font-size: 14px;
    display: flex;
    padding: 10px;
}

.yh a span {
    color: #6B3695;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
}

.sign-up-button.gp,
.ste-sign-up-button.gp {
    background: #FFF5F4;
    border: 1px solid #DF4B38;
    border-radius: 5px;
    width: 60%;
    font-size: 14px;
    display: flex;
    padding: 10px;
}

.gp a span {
    color: #DF4B38;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
}

.sign-up-button.ln,
.ste-sign-up-button.ln {
    background: #F2F8FB;
    border: 1px solid #117BB8;
    border-radius: 5px;
    width: 60%;
    font-size: 14px;
    display: flex;
    padding: 10px;
}

.ln a span {
    color: #117BB8;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
}

.sign-up-button a {
    color: #fff;
    font-size: 12px;
    padding: 0px 12px;
    text-decoration: none;
}

.ste-img {
    max-width: 100%;
}

.ste-sign-up-button a {
    color: #fff;
    font-size: 12px;
    display: flex;
    text-decoration: none;
}


/* The container */

.ste-custom-input {
    position: relative;
    font-size: 14px;
    font-weight: 400px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.ste-custom-input input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
}


/* Create a custom radio button */

.checkmark-radio {
    display: inline-block;
    height: 20px;
    border: 1px solid #CBCED6;
    width: 20px;
    border-radius: 50%;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.ste-custom-input input:checked~.checkmark-radio:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.ste-custom-input .checkmark-radio:after {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    background: #CBCED6;
    border-radius: 50%;
}

.ste-custom-input .checkmark-checkbox:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Create a custom checkbox */

.checkmark-checkbox {
    /*position: absolute;*/
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
}


/* On mouse-over, add a grey background color */

.ste-custom-input:hover input~.checkmark-checkbox {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.ste-custom-input input:checked~.checkmark-checkbox {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.ste-custom-input input:checked~.checkmark-checkbox:after {
    display: block;
}

.error-msg-email {
    color: #f31313;
    margin-bottom: 6px
}

.ste-btn-remove-option {
    background: #F1F1F1;
    /* width: 50px; */
    height: 30px;
    color: #B7B8BA;
    border: none;
    padding: 0px 10px;
    font-size: 12px;
    border-radius: 5px;
}

.loaderbg {
    background: #000;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    display: none;
    left: 0;
    z-index: 99999;
    text-align: center;
}

.loaderbg img {
    margin-top: 12%;
}

#verify_email_stedb {
    font-size: 14px;
    font-weight: 600;
}


/* responsive design */

@media only screen and (min-width: 1441px) and (max-width: 2560px) {}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {}

@media only screen and (min-width: 769px) and (max-width: 1024px) {}

@media only screen and (min-width: 426px) and (max-width: 768px) {}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    [class*="ste-col-"] {
        width: 100% !important;
        text-align: center;
    }
    /* Text Align Classes */
    .ste-text-m-center {
        text-align: center !important;
    }
    .ste-text-m-left {
        text-align: left !important;
    }
    .ste-text-m-right {
        text-align: right !important;
    }
    /* Padding Classes */
    .ste-p-m-1 {
        padding: 1rem !important;
    }
    /* Flex Basis Classes */
    .ste-flexb-m-100 {
        flex-basis: 100% !important;
    }
    .cke_editor_ste-sc-ckeditor {
        width: 100% !important;
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    [class*="ste-col-"] {
        width: 100% !important;
        text-align: center;
    }
    /* Text Align Classes */
    .ste-text-m-center {
        text-align: center !important;
    }
    .ste-text-m-left {
        text-align: left !important;
    }
    .ste-text-m-right {
        text-align: right !important;
    }
    /* Margin Classes */
    .ste-my-m-1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    /* Padding Classes */
    .ste-p-m-1 {
        padding: 1rem !important;
    }
    /* Flex Basis Classes */
    .ste-flexb-m-100 {
        flex-basis: 100% !important;
    }
    .cke_editor_ste-sc-ckeditor {
        width: 100% !important;
    }
}

@media only screen and (max-width: 320px) {
    [class*="ste-col-"] {
        width: 100% !important;
        text-align: center;
    }
    /* Text Align Classes */
    .ste-text-m-center {
        text-align: center !important;
    }
    .ste-text-m-left {
        text-align: left !important;
    }
    .ste-text-m-right {
        text-align: right !important;
    }
    /* Margin Classes */
    .ste-my-m-1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    /* Padding Classes */
    .ste-px-rm-m-1 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .ste-p-m-1 {
        padding: 1rem !important;
    }
    /* Flex Basis Classes */
    .ste-flexb-m-100 {
        flex-basis: 100% !important;
    }
    /* Display Classes */
    .ste-m-dnone {
        display: none !important;
    }
    .ste-ac-right {
        margin-top: 1rem;
    }
    .cke_editor_ste-sc-ckeditor {
        width: 100% !important;
    }
}


/* Dragnova 15-05-2019 */

.ste-btn-add-option {
    background: #F1F1F1;
    /* width: 50px; */
    height: 30px;
    color: #B7B8BA;
    border: none;
    padding: 0px 10px;
    font-size: 12px;
    border-radius: 5px;
}

.ste-btn-remove-option {
    background: #F1F1F1;
    /* width: 50px; */
    height: 30px;
    color: #B7B8BA;
    border: none;
    padding: 0px 10px;
    font-size: 12px;
    border-radius: 5px;
}


/* Custom Table Css */

.ste-se-td-15 {
    width: 15%;
}

.ste-se-td,
.ste-se-td a {
    color: #989ca8;
}

.cke_editor_ste-sc-ckeditor {
    width: 80%;
}

.btn-light {
    background: #fff!important;
    color: #5c99e4 !important;
    border: 1px solid #5c99e4 !important;
}


/*****height auto *****/

.ste-height-auto {
    height: auto !important;
}

.ste-public-form-label-text {
    font-size: 16px;
    font-weight: bold;
}

img#loader {
    width: 100px;
    height: 100px;
    margin: -22px 0px 0px 20px;
    display: none;
}

img#loader1 {
    width: 100px;
    height: 100px;
    display: none;
    position: fixed;
    left: 47%;
    top: 45%;
    z-index: 9999;
}

.ste-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    padding-left: 400px;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.ste-modal-dialog {
    background-color: #fff;
    width: 50%;
    border-radius: 5px;
    padding: 20px;
}

.ste-modal-body {
    padding: 15px;
    border-bottom: 1px solid #b9b8b8;
    border-top: 1px solid #b9b8b8;
}

.ste-modal .email_preview_close {
    background: #fff;
    border: none;
    font-size: 20px;
    color: #ccc;
}

.ste-modal .email_preview_close:hover {
    color: #000;
    cursor: pointer;
}

.ste-modal .email_preview_close_1 {
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ste-modal .email_preview_close_1:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    cursor: pointer;
}

.ste-modal-header {
    padding: 15px;
}

.ste-modal-header h4 {
    margin: 0;
}

.ste-modal-footer {
    padding: 15px;
}


/* icons */

.icon-settings:before,
.icon-phone-call:before,
.icon-account-id:before {
    color: #9ba0ad;
    background-color: #414550;
    border-radius: 50%;
    padding: 10px;
}

.social_buttons {
    float: left;
}


/*  icons end */


/* drag icons css */

.stedb-fields .inner-col {
    text-align: center;
    padding: 25px 20px 25px 20px;
    cursor: pointer;
}

.stedb-fields .inner-col:hover {
    background-color: #464a54;
    border-radius: 5px;
    color: #fff !important;
}

.ste-field-border-c-1 {
    border: 0.5px solid #e1e4e4;
    border-top: 0.5px;
    border-left: 0.5px;
    padding-left: 0 !important;
}

.ste-field-border-c-2 {
    border-bottom: 0.5px solid #e1e4e4;
    padding-right: 0 !important;
}

.no-bottom-border .ste-field-border-c-1,
.no-bottom-border .ste-field-border-c-2 {
    border-bottom: none;
}

.ste-fields-icon {
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    cursor: pointer;
}

.inner-col:hover>.icon {
    color: #fff;
}

.inner-col:hover>.word {
    color: #fff;
}


/* drag icon css end */


/* responsive design */

@media only screen and (min-width: 1441px) and (max-width: 2560px) {
    #ste-sortable {
        min-height: 43vh;
    }
    .ste-minheight-2 {
        min-height: 8vh;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    #ste-sortable {
        min-height: 31vh;
    }
    .ste-minheight-2 {
        min-height: 15vh;
    }
    .ste-form-creator-container {
        min-height: 250px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #ste-sortable {
        min-height: 30vh;
    }
    .ste-form-creator-container {
        min-height: 252px;
    }
    .ste-drag-text-box img {
        height: 55px;
    }
    .ste-drag-text-area img {
        height: 72px;
    }
    .ste-drag-radio img {
        height: 29px;
    }
    .ste-drag-check img {
        height: 27px;
    }
    .ste-drag-select img {
        height: 32px;
    }
    .ste-drag-date img {
        height: 58px;
    }
    .sign-up-button a {
        font-size: 9px;
    }
    .ste-admin-icon {
        width: 18px;
        height: 18px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    #ste-sortable {
        min-height: 33vh;
    }
    .ste-modal {
        padding-left: 150px;
    }
    .ste-modal-dialog {
        width: 70%;
    }
    .sign-up-button a {
        font-size: 9px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    .ste-modal {
        padding-left: 10px;
    }
    .ste-modal-dialog {
        width: 97%;
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    .ste-modal {
        padding-left: 10px;
    }
    .ste-modal-dialog {
        width: 97%;
    }
}

@media only screen and (max-width: 320px) {
    .ste-modal {
        padding-left: 10px;
    }
    .ste-modal-dialog {
        width: 97%;
    }
}


/* modified css */

.ste-top-bar {
    background-color: #2f333b;
}

.f-clr {
    color: #dcddde !important;
}

.btn .icon {
    color: #fff !important;
    opacity: 0.5;
    margin-right: 5px;
}

.ste-round-setting-icon {
    align-self: center !important;
    margin-left: 10px;
    cursor: pointer;
}

.ste-header-phone {
    border-right: 1px solid #414550;
}

.ste-btn .btn {
    width: 45%;
    font-size: 14px;
    font-weight: 600;
}

.ste-btn .btn-secondary {
    margin-right: 10px;
}

.ste-form-builder-btn .btn {
    font-size: 14px;
    font-weight: 600;
}

.input-form-fields {
    border: 1px solid #d4d8d8;
    border-radius: 10px;
    background-color: #fff;
}

.container-fluid {
    padding: 0px !important;
    margin: 0px !important;
}

.ste-top-container-border {
    border-bottom: 1px solid #D4D7E2;
}

.form-builder-box {
    padding-right: 0px !important;
    margin-left: 0px !important;
}

.form-builder-box .toolbar {
    background: #fff;
    padding-left: 0px;
    padding-right: 0px;
    border-left: 1px solid #d4d8d8;
}

.form-builder-box .toolbar .icon {
    font-size: 26px;
    padding-bottom: 10px;
}

.form-builder-box .col-9 {
    padding-left: 0px !important;
}

.form-builder-box .draggable-area #sortable {
    border: 2px dashed #d4d8d8;
    border-radius: 10px;
    height: 100%;
    background-color: #fff;
}

.form-builder-box .draggable-area .ste-bg-drag-img {
    background: url(../images/add.png) #fff no-repeat;
    background-position: center center;
}

.col-9.ste-nav-bar {
    margin: 0px;
    padding: 0px;
}

.col-9 .ste-text {
    color: #878b9b;
}

.send-email-section {
    background-color: #fff;
    border: 1px solid #cdd6df;
    border-radius: 10px;
    margin: 15px;
}

.send-email-section .send-email-label {
    margin: 10px;
    color: #63666c;
    font-size: 18px;
    font-weight: 600;
}

.send-email-section .gurantee-logo {
    padding: 0px;
    margin: 0px;
}

.ste-social-icon-section {
    justify-content: center;
    border-top: 1px solid #d4d8d8;
}

.ste-b-r {
    border-right: 1px solid #d4d8d8;
}

.ste-social-icon {
    padding: 10px;
    text-align: center;
}

.ste-social-icon .ste-builder-field {
    width: 400px !important;
}

.ste-social-icon .ste-builder-field .remove_bal_field,
.stedb-fields .ste-builder-field .remove_bal_field {
    font-size: 12px !important;
    background: transparent;
}

.ste-form-builder-btn .shortcode-show-input {
    height: 35px;
    border: 1px solid #cdd6df;
    border-radius: 5px;
}

.ste-send-email-main .col-9 {
    padding-left: 0px !important;
}

.ste-send-email-main .col-3 {
    padding-right: 0px !important;
}

.ste-auto-responder {
    background-color: #fff;
    border: 1px solid #d4d8d8;
    border-radius: 10px;
}

.ste-auto-responder-title {
    color: #2f333b;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
}

.ste-form-field-label {
    margin-bottom: 10px;
    color: #2f333b;
    font-size: 14px;
    font-weight: 600;
}

.ste-form-field-input .ste-sc-subject,
.ste-sc-form-name,
.ste-form-name,
.ste-form-receiver {
    margin-bottom: 10px;
    padding: 8px !important;
    width: 100%;
    border: 1px solid #c5c9d4 !important;
    border-radius: 5px;
}

.ste-pop-email {
    margin-bottom: 10px;
    padding: 8px !important;
    width: 85%;
    margin-left: 23px;
    border: 1px solid #c5c9d4 !important;
    border-radius: 5px;
}

.cke_chrome {
    border: 1px solid #c5c9d4;
    border-radius: 5px;
}

.cke_top {
    background-color: #fff;
}

.ste-send-email-container {
    height: inherit;
}

.ste-se-tr {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border-bottom: 1px solid #ebecec;
    cursor: pointer;
}

.ste-b-clr {
    color: #3688e1;
}

.ste_selected_tr {
    background-color: #d7e7f9;
    border-radius: 5px;
    padding: 15px;
    border-bottom: none !important;
}

.ste-send-email-tbl .ste-se-body .ste-se-td {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #989ca8;
}

.ste-se-td a:hover {
    text-decoration: none;
    color: #989ca8;
}

.ste-send-email-tbl .ste-se-thead .ste-se-td {
    font-weight: 600;
    color: #494d53;
    font-size: 14px;
}

.ste-se-multi-btn-container .ste-btn-cancel span {
    color: #95beeb !important;
    opacity: 1 !important;
}

.ste-se-multi-btn-container button {
    font-size: 14px;
    font-weight: 600;
}

.sidenav::-webkit-scrollbar {
    width: 0.5em;
}

.sidenav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidenav::-webkit-scrollbar-thumb {
    background-color: #2F333B;
    outline: 1px solid #fff;
}

.send-email-list {
    background-color: white;
}

.send-email-list .icon-bar-text {
    font-size: 14px;
    font-weight: 600;
    color: #2f333b;
}

.nav-icon-left {
    font-size: 33px;
    cursor: pointer;
    font-weight: bold;
    color: #2F333B;
    border-radius: 50%;
}

.sticky-icon-bar-text {
    background: #fff;
    color: #2F333B;
    font-size: 18px;
    font-weight: 600;
}

.sticky-icon-bar {
    background: #E4E6E8;
    height: 50px;
    padding: 14px;
}

.sidenav .sticky-icon-bar {
    background: #E4E6E8;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.sidenav {
    height: 685px;
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    border: 1px solid #d4d8d8;
    box-shadow: 0px 20px 20px 20px #8888881f
}

.mini {
    width: 25%;
}

.mini .nav-icon:before {
    content: "\2190";
    font-family: FontAwesome;
    font-size: 20px;
    cursor: pointer;
}

.mini .email-list-title {
    color: #494d53;
    font-weight: 600;
    font-size: 14px;
}

.mini .shouldShowWhenMinified {
    width: 50%;
}

.mini .shouldNotShowWhenMinified {
    display: none;
}

.normal {
    width: 80%;
}

.normal .nav-icon:before {
    content: "\2192";
    font-family: FontAwesome;
    font-size: 20px;
    cursor: pointer;
}

.normal .email-list-title {
    color: #494d53;
    font-weight: 600;
    font-size: 14px;
}

.address-text {
    padding: 10px;
}

.popup-country {
    font-size: 13px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #6C757D !important;
    height: auto !important;
}


/* report */

.ste-coming-soon {
    border: 2px dashed #ebecec;
    border-radius: 10px;
    background: #fff;
    font-size: 14px !important;
    text-align: center;
    color: #989ca8;
    height: 500px;
}


/* pop up */

.modal-content {
    width: 80% !important;
    border-radius: 10px !important;
}

.modal-header {
    height: 50px;
    padding: 0px;
    border-bottom: none !important;
}

.modal-title {
    color: #303437;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.modal-header .btn .icon {
    color: #000 !important;
    text-shadow: none;
    font-size: 10px;
    font-weight: 600;
    background: #EAECEB;
    opacity: 1;
    padding: 8px 10px 8px 10px;
    border-radius: 50%;
}

.code-bg-img {
    background: url(../images/code.png) #fff no-repeat;
    background-position: center center;
    height: 140px;
}

.stedb_modal_action_handler .alert-danger,
.stedb_modal_action_handler .alert-success {
    background: none;
    border: none;
    padding: 10px;
    margin-bottom: 0px;
    margin-left: 40px;
}

.stedb_modal_action_handler .alert-danger .stedb-popup-message {
    color: red !important;
}

.stedb_modal_action_handler .stedb-popup-message {
    font-size: 14px;
}

.stedb_modal_action_handler svg {
    margin-left: 95px;
}

.modal-body .form-group .icon {
    color: #000;
    font-size: 12px;
    margin-right: 5px;
}

.modal-body .stedb_tagline {
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
}

.modal-body .stedb_popup_email span {
    color: #218838;
    font-weight: 600;
    font-size: 14px;
}

.stedb_popup_code_field {
    display: flex;
    justify-content: center;
}

.modal-body .form-group input {
    width: 50px;
    height: 66px;
    margin: 0 10px;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    border: solid 1px #ccc;
    outline: none;
    transition: all .2s ease-in-out;
    border-radius: 10px;
}

.modal-body .form-group input:focus {
    border: 2px solid #5AC858;
}

.modal-body .form-group input::-moz-selection {
    background: transparent;
}

.modal-body .form-group input::selection {
    background: transparent;
}

.modal-body .stedb_popup_submit .btn {
    width: 70%;
    justify-items: center;
    font-weight: 600;
    font-size: 14px;
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .form-control:valid,
.form-control.is-valid {
    padding: 0em !important;
    background-image: none !important;
    text-align: center;
}

.ui-draggable-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

a.ui-draggable-disabled {
    color: currentColor;
    display: inline-block;
    /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}

.help {
    background-color: #2f333b;
    width: 20px;
    text-indent: 0px;
    padding-left: 0;
    height: 20px;
    line-height: 20px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #f1f1f1;
    display: inline-block;
    font-weight: 700;
    content: counter(list);
    margin-right: 15px;
    font-size: 14px;
    position: absolute;
    margin-top: -8px;
    margin-left: 10px;
}


/* tootl tip  */

.ste-tool-tips {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    left: 10%;
    padding: 3px 6px;
    margin-top: 25px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 12px;
    text-align: left;
    width: 175px
}


/* POP_UP_FORM */

.temp_form_main .temp_form_header {
    border-bottom: 1px solid #ccc !important;
}

.temp_form_main .form_thumb img {
    height: 50px;
    width: 50px;
}

.temp_form_main .form_content {
    font-size: 16px;
    font-weight: 600;
}

.tag_line {
    font-size: 14px;
    font-weight: 500;
}

.control-box {
    position: absolute;
    right: 15px;
    margin-top: -32px;
}

.html_item_row_container .remove_bal_field {
    background: #efa067;
    border-radius: 20px;
    padding: 7px 8px;
    color: #fff;
    font-size: 7px;
    border: 1px solid #f1f1f1;
    line-height: 7px;
}

.stedb-col .remove_bal_field,
.remove_social_bal_field,
.remove_linkedin_bal_field {
    background: #B8C0C9;
    border-radius: 20px;
    padding: 7px 8px;
    color: #fff;
    position: relative !important;
    font-size: 7px;
    right: 14px;
    top: 15px;
    border: 1px solid #f1f1f1;
    line-height: 7px;
}

#emailPreviewModal.modal {
    z-index: 50000
}

#emailPreviewModal .modal-body .row {
    padding: 10px;
    color: #000 !important;
}

#emailPreviewModal .modal-body .row.gray {
    background: #e5e5e5;
}

#emailPreviewModal .modal-body .row.bordered {
    border: 1px solid #e5e5e5;
}

#formTemplateChoiceModal .modal-body .row {
    background: #d7e7f9;
    border: 1px solid #3688e1;
    color: #3688e1 !important;
    margin: 10px;
    padding: 20px;
}

#formTemplateChoiceModal .modal-body .row:hover {
    background: #2f333b;
    border: 1px solid #3688e1;
    color: #fff !important;
}

@-webkit-keyframes downarrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4
    }
    100% {
        -webkit-transform: translateY(0.4em);
        opacity: 0.9
    }
}

.arrow {
    border-color: transparent;
    border-style: solid;
    border-width: 0 2em;
    height: 0;
    text-indent: -9999px;
    transform-origin: 50% 50%;
    width: 0;
    left: 53%;
    bottom: 110px;
}

.down {
    -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
    border-top: 2em solid;
}

.setting-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    /* height: 480px; */
    width: 100%;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.popup-skip {
    margin-right: 15px;
}

.popup-dont-show {
    margin-left: 15px;
}

#submit-setting-update #country {
    max-width: 100%;
    height: auto !important;
}

.setting-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}


/* Message Box on Drag Fields */

.sp-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0.2));
    background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0.2));
    background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0.2));
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0.2));
}

.sp-container h2 {
    position: absolute;
    top: 50%;
    right: 5%;
    line-height: 100px;
    height: 90px;
    margin-top: -50px;
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: #5A6268;
    -webkit-animation: blurFadeInOut 3s ease-in backwards;
    -moz-animation: blurFadeInOut 3s ease-in backwards;
    -ms-animation: blurFadeInOut 3s ease-in backwards;
    animation: blurFadeInOut 3s ease-in backwards;
}

@-webkit-keyframes blurFadeInOut {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.3);
    }
    20%,
    75% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
    }
}

@-webkit-keyframes blurFadeIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.3);
    }
    50% {
        opacity: 0.5;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes fadeInBack {
    0% {
        opacity: 0.4;
        -webkit-transform: scale(0);
    }
    50% {
        opacity: 0.8;
        -webkit-transform: scale(2);
    }
    100% {
        opacity: 0.6;
        -webkit-transform: scale(5);
    }
}

@-webkit-keyframes fadeInRotate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) rotate(360deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) rotate(0deg);
    }
}


/**/

@-moz-keyframes blurFadeInOut {
    0% {
        opacity: 0;
        -moz-transform: scale(1.3);
    }
    20%,
    75% {
        opacity: 1;
        -moz-transform: scale(1);
    }
    100% {
        opacity: 0;
        -moz-transform: scale(0);
    }
}

@-moz-keyframes blurFadeIn {
    0% {
        opacity: 0;
        -moz-transform: scale(1.3);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}

@-moz-keyframes fadeInBack {
    0% {
        opacity: 0;
        -moz-transform: scale(0);
    }
    50% {
        opacity: 0.4;
        -moz-transform: scale(2);
    }
    100% {
        opacity: 0.2;
        -moz-transform: scale(5);
    }
}

@-moz-keyframes fadeInRotate {
    0% {
        opacity: 0;
        -moz-transform: scale(0) rotate(360deg);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1) rotate(0deg);
    }
}


/**/

@keyframes blurFadeInOut {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }
    20%,
    75% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes blurFadeIn {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInBack {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.4;
        transform: scale(2);
    }
    100% {
        opacity: 0.2;
        transform: scale(5);
    }
}

@keyframes fadeInRotate {
    0% {
        opacity: 0;
        transform: scale(0) rotate(360deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

.input-field-error {
    border: 1px solid red !important;
}